a:active, a:link, a:visited {
    color: #000080;
}

#backgroundMain {
  background-color: #4a96ad;
}

#introduction {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 18px;
	color:white;
}

.mountainImage {
	background-image: url("images/mountain.JPG");
    height: 600px;
	display: block;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.goldenGateImg {
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/0c/GoldenGateBridge-001.jpg");
    height: 600px;
	display: block;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.newYorkImg {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw1G7rTPdYRd9ZX2cC19zqvxFaNnBqoIXJAs-C9A-OAT-P6agk");
    height: 250px;
      display: block;
      width: 100%;
      background-attachment: fixed;
      background-position: center center;
      position: relative;
}

#header {
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#projectsImg {
	width: 300px;
}

.img-circle {
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 18px;
	font-family: Arial, serif;
}

a:hover {
    color: #3B5323;
}

td {
    width: 400px;
    text-align: center;
	/*background-color:#FFAABB;*/
	border-radius: 15px;
}

.head{
	color: #0000A0;
	text-align:center;
	font-family: Verdana, serif;
	font-size:53px;
}

#profileImg {
	height: 390px;
	width: 300px;
	box-shadow: 10px 10px 5px #ffffff;
	margin:auto;
}

#button {
	margin: auto;
	height: 70px;
	width: 70px;
}

ul{
	list-style-type: none;
	margin-left: 10px;
	margin-right:40px;
	margin-top:-16px;
}

#importantText {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 18px;
	color: #4a96ad
}
